body {
	background-image: url('images/paper-texture.jpg');
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

.polaroid {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 250px;
	height: auto;
	padding: 10px;
	background: rgb(255, 255, 255);
	border-radius: 5px;
	box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.2);
	position: relative;
	transform: rotate(-5deg);
}

.polaroid-picture {
	background-color: var(--color--re-shadow);
	border: 2px solid #ddd;
	padding: 10px;
	margin: 5px 0;
	border-radius: 5px;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.polaroid header {
	font-size: calc(var(--base-size) * 1.1);
	font-family: var(--font-body);
	color: white;
}

.polaroid p {
	font-size: calc(var(--base-size) * 0.9);
	font-family: var(--font-body);
	color: rgb(255, 148, 148);
	line-height: 1.4;
	margin-top: 10px;
	width: 200px;
}

button {
	margin: 6px;
	padding: 10px 24px;
	font-size: calc(var(--base-size) * 1.5);
	font-family: var(--font-heading);
	border: 1.5px solid var(--color--re-shadow);
	color: var(--color--re-shadow);
	border-radius: 25px;
	cursor: pointer;
}

.polaroid button:hover {
	background: var(--color--re-shadow);
	color: white;
}