body {
	background-image: url('images/bg-image-polaroids.png');
	background-size: cover;
	background-position: center;


	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

.polaroid {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 250px;
	height: auto;
	padding: 10px;

	background: var(--color--re-shadow);
	border-radius: 5px;
	box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.2);
	position: relative;
	transform: rotate(-5deg);
}

.polaroid-picture {
	background-color: white;
	border: 2px solid #ddd;
	padding: 10px;
	margin: 5px 0;
	border-radius: 5px;
	height: 200px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.polaroid header {
	font-size: calc(var(--base-size) * 1.1);
	font-family: var(--font-body);
	color: var(--color--re-shadow);
	font-weight: 600;
}

.polaroid p {
	font-size: calc(var(--base-size) * 0.9);
	font-family: var(--font-body);
	color: var(--color--re-shadow);
	line-height: 1.4;
	margin-top: 10px;
	width: 200px;
}

button {
	margin-top: 4px;
	padding: 10px 24px;
	font-size: calc(var(--base-size) * 1.5);
	font-family: var(--font-heading);
	border: 1.5px solid white;
	color: white;
	border-radius: 25px;
	cursor: pointer;
}

.polaroid button:hover {
	background: white;
	color: var(--color--re-shadow);
}

@media screen and (min-width: 1280px) {
.polaroid {
	width: 340px;
	padding: 12px;
}

.polaroid-picture {
	height: 300px;
	width: 300px;
	padding: 15px;
}

.polaroid header {
	font-size: calc(var(--base-size) * 1.6);
}

.polaroid p {
	font-size: calc(var(--base-size) * 1.2);
	width: 250px;
}

button {
	font-size: calc(var(--base-size) * 1.8);
	padding: 12px 30px;
	margin-top: 10px;
}

}