body {
	--base-size: 16px;
	--gutter-size: calc(var(--base-size));

	--color--primary: black;
	--color--secondary: gold;
	--color--background: #4a0000;
	--color--primary-red: #ff0101;
	--color--re-shadow: #ff0101bb;

	--font-body: 'Lora', serif;
	--font-heading: 'Pinyon Script', cursive;
	
	background-color: var(--color--background);
	text-align: center;
	color: var(--color--primary-red);
	font-size: var(--base-size);
	font-family: 'Lora', serif;
}

h1 {
	font-family: var(--font-heading);
	font-size: calc(var(--base-size) * 3.2);
	line-height: 2;
	text-shadow: 0 0 5px var(--color--re-shadow);
}

p {
	font-family: var(--font-body);
	font-size: var(--fon);
	font-weight: 400;
}

.nav {
	position: fixed;
	top: 0;
	text-align: center;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: var(--gutter-size);
	font-size: calc(var(--base-size) * 0.875);
	font-weight: bold;
	text-transform: uppercase;
	gap: var(--gutter-size);
	backdrop-filter: blur(10px);
}

.nav-item {
	padding: calc(var(--gutter-size) * 0.5);
}

@media (min-width: 600px) {
	:root {
		--gutter-size: calc(3 * var(--base-size));
		--base-size: 20px;
	}
}

header {
	background-color: var(--color--background);
	padding-block: calc(5 * var(--base-size));
}

img {
	height: 33vh;
	object-fit: cover;
	overflow: hidden;
}

#main-content {
	block-size: 75vh;
	padding-top: var(--base-size);
	padding-bottom: var(2 * (--base-size));
}

section {
	block-size: 75vh;
}

footer {
	background-color: var(--color--secondary);
	padding-top: var(--base-size);
	padding-bottom: calc(5 * var(--base-size));
}

.gutters {
	padding-inline: var(--gutter-size);
}