body {
	--base-size: 16px;
	--gutter-size: calc(var(--base-size));

	--color--primary: black;
	--color--secondary: gold;
	--color--background: #4a0000;
	--color--primary-red: #ff0101;
	--color--re-shadow: #ff0101bb;

	--font-body: 'Lora', serif;
	--font-heading: 'Pinyon Script', cursive;
	
	background-color: var(--color--background);
	text-align: center;
	color: var(--color--primary-red);
	font-size: var(--base-size);
	font-family: 'Lora', serif;
}

h1 {
	font-family: var(--font-heading);
	font-size: calc(var(--base-size) * 3.2);
	line-height: 2;
	color: white;
	text-shadow: 0 0 5px var(--color--re-shadow);
}

h2 {
	font-family: var(--font-body);
	font-size: calc(var(--base-size) * 1.1);
	text-transform: uppercase;
}

p {
	font-family: var(--font-body);
	font-size: calc(var(--base-size) * 0.875);
}

.nav {
	position: fixed;
	top: 0;
	text-align: center;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: var(--gutter-size);
	font-size: calc(var(--base-size) * 0.875);
	font-weight: bold;
	text-transform: uppercase;
	gap: var(--gutter-size);
	backdrop-filter: blur(10px);
}

.nav-item {
	padding: calc(var(--gutter-size) * 0.5);
}

ul li {
	margin-top: 20px;
}

@media (min-width: 600px) {
	:root {
		--gutter-size: calc(3 * var(--base-size));
		--base-size: 20px;
	}
}

header {
	background-color: var(--color--background);
	padding-block-start: calc(6 * var(--base-size));
	padding-block-end: calc(4 * var(--base-size));
}

.image-1 {
	height: 33vh;
	object-fit: cover;
	overflow: hidden;
	mix-blend-mode: luminosity;
	aspect-ratio: 1/1;
	filter: grayscale(1) contrast(1.2) brightness(1.02);
}

.image-1:hover {
	/*heart mask from code pen (https://codepen.io/t_afif/pen/PoRwjPM)*/
	--_m: radial-gradient(#000 69%,#0000 70%) 84.5%/50%;
	-webkit-mask-box-image: var(--_m);
	mask-border: var(--_m);
	clip-path: polygon(-41% 0,50% 91%, 141% 0);
}

#main-content {
	block-size: 75vh;
	padding-top: var(--base-size);
	padding-bottom: var(2 * (--base-size));
}

section {
	block-size: 75vh;
}

footer {
	padding-top: var(--base-size);
	padding-bottom: calc(4 * var(--base-size));
}

.gutters {
	padding-inline: var(--gutter-size);
}

@media (min-width: 768px) {

}

@media (min-width: 1280px) {

}